<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">
	
	<resultMap type="Employee" id="EMPResult">
		<id column="ID" property="id"/>
		<result column="ACCOUNT" property="account"/>
		<result column="PASSWORD" property="password"/>
		<result column="NAME" property="name"/>
		<result column="AUTHORITY" property="authority"/>
		<result column="CONTACT" property="contact"/>
		<result column="ENROLLDATE" property="enrollDate"/>
		<result column="RESIGNDATE" property="resignDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>	
	
	<select id="signInEmp" parameterType="Employee" resultMap="EMPResult">
		select * from employee where account=#{account} and password=#{password} and status='Y'
	</select>
	
	<select id="getAllEmp" resultMap="EMPResult">
		select * from employee where status='Y' order by authority asc, id asc
	</select>
	
	<insert id="createEmp" parameterType="Employee">
		insert into employee values(employee_seq.nextval, #{account}, #{password}, #{name}, #{authority}, #{contact}, sysdate, default, default)
	</insert>
	
	<select id="getEmp" parameterType="_int" resultMap="EMPResult">
		select * from employee where id=#{id}
	</select>
	
	<update id="deleteEmp" parameterType="_int">
		update employee set status='N', resigndate=sysdate where id=#{id}
	</update>
	
	<update id="updateEmp" parameterType="Employee">
		update employee set account=#{account}, password=#{password}, name=#{name}, authority=#{authority}, contact=#{contact}
		where id=#{id} and status='Y' 
	</update>
	
	<select id="getAllEmpIncR" resultMap="EMPResult">
		select * from employee order by authority asc, id asc
	</select>
	
	<update id="activateEmp" parameterType="_int">
		update employee set status='Y', resigndate=default where id=#{id}
	</update>
	
	
</mapper>
