<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">
	
	<resultMap type="Employee" id="ResultEmp">
		<id column="id" property="ID"/>
		<result column="account" property="ACCOUNT"/>
		<result column="password" property="PASSWORD"/>
		<result column="name" property="NAME"/>
		<result column="authority" property="AUTHORITY"/>
		<result column="contact" property="CONTACT"/>
		<result column="enrollDate" property="ENROLLDATE"/>
		<result column="resignDate" property="RESIGNDATE"/>
		<result column="status" property="STATUS"/>
	</resultMap>	
	
	<select id="signInEmp" parameterType="Employee" resultMap="ResultEmp">
		select * from employee where account=#{account} and password=#{password} and status='Y'
	</select>
	
	
	
</mapper>
