<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">

	<resultMap type="RSV" id="RSVResult">
		<id column="NO" property="no" />
		<result column="GUEST" property="guest" />
		<result column="IDATE" property="iDate" />
		<result column="ODATE" property="oDate" />
		<result column="NIGHT" property="night" />
		<result column="PPL" property="ppl" />
		<result column="ROOMTYPE" property="roomType" />
		<result column="PRICE" property="price" />
		<result column="SALES" property="sales" />
		<result column="CONTRACTOR" property="contractor" />
		<result column="NOTE" property="note" />
		<result column="STATUS" property="status" />
	</resultMap>


	<select id="getAllReservations" resultMap="RSVResult">
		select * from reservation where status='Y' order by idate asc
	</select>
	
	<insert id="createReservation" parameterType="RSV">
		insert into reservation (no, guest, idate, odate, night, ppl, roomtype, price, sales, contractor, status) 
		values (reservation_seq.nextval, #{guest}, #{iDate}, #{oDate}, #{night}, #{ppl}, #{roomType}, #{price}, #{sales}, #{contractor}, default)
	</insert>
	
	<select id="getReservation" parameterType="_int" resultMap="RSVResult">
		select * from reservation where no=#{no}
	</select>
	
	<select id="getAllReservationsIncAll" resultMap="RSVResult">
		select * from reservation order by idate asc
	</select>
	
	<update id="updateReservation" parameterType="RSV">
		update reservation set guest=#{guest}, idate=#{iDate}, odate=#{oDate}, night=#{night}, ppl=#{ppl}, 
		roomtype=#{roomType}, price=#{price}, sales=#{sales}, contractor=#{contractor}
		where no=#{no}
	</update>
	
	<update id="checkIn" parameterType="_int">
		update reservation set status='I' where no=#{no}
	</update>
	
	<update id="checkOut" parameterType="_int">
		update reservation set status='O' where no=#{no}
	</update>
	
	<update id="cancelReservation" parameterType="_int">
		update reservation set status='N' where no=#{no}
	</update>
	
	<delete id="deleteReservation" parameterType="_int">
		delete from reservation where no=#{no}
	</delete>
	
	
</mapper>
