<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shiftMapper">

	<resultMap type="Shift" id="ShiftResult">
		<id column="NO" property="no" />
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="YEAR" property="year" />
		<result column="QUARTER" property="quarter" />
		<result column="MONTH" property="month" />
		<result column="SDATE" property="sDate" />
		<result column="ROTATION" property="rotation" />
	</resultMap>


	<select id="getAllShifts" resultMap="ShiftResult">
		<![CDATA[
		select * from 
		(select * from shift order by sdate desc, rotation asc)
		where rownum < 7
		]]>
	</select>
	
	<insert id="createShift" parameterType="Shift">
		insert into shift values(shift_seq.nextval, #{id}, #{name}, #{year}, #{quarter}, #{sDate}, #{rotation})
	</insert>
	
	<select id="getAllShiftsIncAll" resultMap="ShiftResult">
		select * from shift order by sdate desc, rotation asc
	</select>
	
	<select id="getShift" parameterType="_int" resultMap="ShiftResult">
		select * from shift where no=#{no}
	</select>


</mapper>
