<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias alias="Employee" type="com.kh.ePERA.employment.employee.vo.Employee"/>
		<typeAlias alias="IHR" type="com.kh.ePERA.guest.inHouseRequest.vo.InHouseRequest"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/Employee-mapper.xml"/>
		<mapper resource="mappers/InHouseRequest-mapper.xml"/>
	</mappers>

</configuration>
